h1{
  color: #757575;
  text-align: center;
  padding-bottom: 5%;
}
h2 {
  color: #757575;
  text-align: center;
  padding-bottom: 5%;
}
.col{
  padding-bottom: : 5%;
}

.padding{
  padding-top: 5%;
}
